<% @projects.each do |project| %>

  <h2>Project Name: <%= project.name %></h2>
  <h4>Details: <%= project.details %></h4>
  <a data-toggle="modal" href="#donation-modal-<%= project.id %>" class="btn-block"><i class="fa fa-eye" aria-hidden="true"></i>Donation</a>

  <!-- PRODUCT QUICK VIEW MODAL -->
  <div class="modal fade quick-view" id="donation-modal-<%= project.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-6 col-sm-7 col-xs-12">
              <div class="product-gallery text-center">
                <img src="/img/single-product/preview01.jpg" alt="Product" class="img-responsive">
              </div>
            </div>

            <div class="col-md-6 col-sm-5 col-xs-12">
              <div class="product-info">
                <h1 class="product-title"><%= project.name %></h1>
                <div class="price">
                  <span>$50</span>
                  <span><del>$60</del></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <div class="add-cart">
                  <div class="count-input">
                    <input class="quantity btn-primary" type="text" value="1">
                    <a class="incr-btn incr-up" data-action="decrease" href="#"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                    <a class="incr-btn incr-down" data-action="increase" href="#"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  </div>
                  <a href="#" class="add-to-cart btn btn-primary">Add to Cart</a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
